<!DOCTYPE html>
    <html>
        <head>
            <meta name="viewport" content="width=device-width, initial-scale=1">
            <link rel="stylesheet" href="css/styles.css">
        </head>
        <body>

                <div class="topnav">
                    <a href="/">Home</a>
                    <a class="active" href="/create">Create</a>                   
                </div>

                <div style="padding-left:16px; width: 350px;">
                    <h2>List User</h2>
                    <p>Some content..</p>

                    <form action="/create-user" method="POST">
                        <label for="fname">Email</label>
                        <input type="text" id="fname" name="email" placeholder="Nhập email của bạn...">
                    
                        <label for="lname">Name</label>
                        <input type="text" id="lname" name="name" placeholder="Nhập name của bạn...">
                    
                        <label for="country">City</label>
                        <input type="text" id="country" name="city" placeholder="Nhập city của bạn...">
                      
                        <input type="submit" value="Submit">
                      </form>
                </div>

        </body>
    </html>
