<!DOCTYPE html>
    <html>
        <head>
            <meta name="viewport" content="width=device-width, initial-scale=1">
            <link rel="stylesheet" href="css/styles.css">
            <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        </head>
        <body>

                <div class="topnav">
                    <a class="active" href="/">Home</a>
                    <a href="/create">Create</a>                   
                </div>

                <div style="padding-left:16px">
                    <h2> xác nhận xóa </h2>
                    <p>Some content..</p>

                    <form action="/delete-user" method="post">
                        
                            <input type="hidden" name="idUserDelete" value="<%= userEdit.id %>">
                            <div class="input-group">
                                <label>Email: </label>
                                <input disabled type="text" name="email" value=" <%= userEdit.email %>"  style="width: 500px;" />
                            </div>
                            <div class="input-group">
                                <label>Name: </label>
                                <input disabled type="text" name="name" value=" <%= userEdit.name %>" />
                            </div>
                            <div class="input-group">
                                <label>City: </label>
                                <input disabled type="text" name="city" value=" <%= userEdit.city %>" />
                            </div>
                            <div>
                                <button> xác nhận xóa </button>
                            </div>
                        
                    </form>
                </div>

        </body>
    </html>
