<section class="ftco-section ftco-no-pb">
    <div class="container">
        <div class="row">
            <div class="col-md-6 img img-3 d-flex justify-content-center align-items-center" style="background-image: url(images/about.jpg);">
            </div>
            <div class="col-md-6 wrap-about pl-md-5 ftco-animate py-5">
      <div class="heading-section">
          <span class="subheading">Từ năm 1905</span>
        <h2 class="mb-4">Mong muốn đáp ứng một hương vị mới</h2>

        <p>Một con sông nhỏ tên là Duden chảy ngang qua vị trí của họ và cung cấp cho nó những điều kiện cần thiết. Đó là một đất nước thiên đường, trong đó những câu nói nướng vào miệng bạn.</p>
        <p>Trên đường đi cô gặp một bản sao. Bản sao đã cảnh báo Văn bản Người mù Nhỏ rằng nơi nó xuất phát sẽ được viết lại hàng nghìn lần và mọi thứ còn sót lại từ nguồn gốc của nó sẽ là từ "và" và Văn bản Người mù Nhỏ sẽ quay lại và trở về chính nó, đất nước an toàn.</p>
        <p class="year">
            <strong class="number" data-number="118">0</strong>
            <span>Năm kinh nghiệm trong kinh doanh</span>
        </p>
      </div>

            </div>
        </div>
    </div>
</section>


<section class="ftco-section ftco-no-pb">
    <div class="container">
        <div class="row">
            <div class="col-lg-2 col-md-4 ">
                <div class="sort w-100 text-center ftco-animate">
                    <div class="img" style="background-image: url(images/kind-1.jpg);"></div>
                    <h3>Brandy</h3>
                </div>
            </div>
            <div class="col-lg-2 col-md-4 ">
                <div class="sort w-100 text-center ftco-animate">
                    <div class="img" style="background-image: url(images/kind-2.jpg);"></div>
                    <h3>Gin</h3>
                </div>
            </div>
            <div class="col-lg-2 col-md-4 ">
                <div class="sort w-100 text-center ftco-animate">
                    <div class="img" style="background-image: url(images/kind-3.jpg);"></div>
                    <h3>Rum</h3>
                </div>
            </div>
            <div class="col-lg-2 col-md-4 ">
                <div class="sort w-100 text-center ftco-animate">
                    <div class="img" style="background-image: url(images/kind-4.jpg);"></div>
                    <h3>Tequila</h3>
                </div>
            </div>
            <div class="col-lg-2 col-md-4 ">
                <div class="sort w-100 text-center ftco-animate">
                    <div class="img" style="background-image: url(images/kind-5.jpg);"></div>
                    <h3>Vodka</h3>
                </div>
            </div>
            <div class="col-lg-2 col-md-4 ">
                <div class="sort w-100 text-center ftco-animate">
                    <div class="img" style="background-image: url(images/kind-6.jpg);"></div>
                    <h3>Whiskey</h3>
                </div>
            </div>

        </div>
    </div>
</section>