<div class="search-bar">
    <form action="/search-sp" method="GET">
      <input style="background-color: rgb(223, 248, 234);" type="text" name="searchSP" placeholder="Tìm kiếm sản phẩm đi bạn iu...">
      <button type="submit"><i class="fa fa-search"></i></button>
    </form>
  </div>